<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
	<head>
		<title>Блог Бушеля ^_^</title>
	</head>
	<body>
		<div> 
			<h1><a href="/">Блог Маленького Бушеля</a></h1>
		</div>
		<div>
            
            <h2><a href="">Мой первый пост</a></h2>
            <p>published: 15.03.2020, 14:22</p>
            	<p>Ето мой первый пост о том, что я бушель.</p>

        </div>

        <div>
            
            <h2><a href="">Мой второй пост</a></h2>
            <p>published: 15.03.2020, 14:23</p>
            <p>Ето мой второй пост, потому что я всё еще бушель.</p>
        </div>
	</body>

</html>